sphinx>=1.8.5,<2.2
paver>=1.3
sphinx-autobuild>=0.7.1
runestone @ https://github.com/Petlja/RunestoneComponents-Petlja/archive/master.zip
click>=7.0
cyrtranslit>=0.4
colorama>= 0.4.1
PyYAML==5.1.2
watchdog==0.9.0